table {
    margin: auto;
    margin-top: 1em;
    border: 2px solid black;
}

td:nth-child(3),
td:nth-child(6) {
    border-right: 2px solid black;
}

tr:nth-child(3),
tr:nth-child(6) {
    border-bottom: 2px solid black;
}

td {
    width: 1em;
    height: 1em;
    text-align: center;
    border: 1px solid gray;
}

td:empty {
    background: lightgray;
}
